
/* Conversation opened. 2 messages. 1 message unread.

Skip to content
Using Cubix Labs, Inc. Mail with screen readers

1 of 292
current index and css file
Inbox
x

Nisar Ahmed
Attachments12:03 PM (1 hour ago)
 

Mohsin Karim
Attachments
1:05 PM (0 minutes ago)
to me



On Fri, Apr 5, 2019 at 12:03 PM Nisar Ahmed <nisar.ahmed@cubixlabs.com> wrote:

Attachments area */

/* bootstrap Css */
#tapeImageId {
  touch-action: manipulation;
}
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important;
}

.justify-content-start {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.align-items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-baseline {
  -webkit-box-align: baseline !important;
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.align-items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}

.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}

.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}

.align-self-auto {
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
}

.align-self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}

.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.align-self-baseline {
  -ms-flex-item-align: baseline !important;
  align-self: baseline !important;
}

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
  align-self: stretch !important;
}

/* Font */
/** Generated by FG **/
@font-face {
	font-family: 'Conv_SF-Pro-Display-Semibold';
	src: url('fonts/SF-Pro-Display-Semibold.eot');
	src: local('?'), url('fonts/SF-Pro-Display-Semibold.woff') format('woff'), url('fonts/SF-Pro-Display-Semibold.ttf') format('truetype'), url('fonts/SF-Pro-Display-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_SF-Pro-Text-Bold';
	src: url('fonts/SF-Pro-Text-Bold.eot');
	src: local('?'), url('fonts/SF-Pro-Text-Bold.woff') format('woff'), url('fonts/SF-Pro-Text-Bold.ttf') format('truetype'), url('fonts/SF-Pro-Text-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_SF-Pro-Text-Semibold';
	src: url('fonts/SF-Pro-Text-Semibold.eot');
	src: local('?'), url('fonts/SF-Pro-Text-Semibold.woff') format('woff'), url('fonts/SF-Pro-Text-Semibold.ttf') format('truetype'), url('fonts/SF-Pro-Text-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Costume Css */
body{
	/*background-position:top center;
	background-repeat:no-repeat;
	background-size:cover;
	margin: 0;
	margin:20px;
	height: calc(100vh - 40px);
	position:fixed;
	overflow:hidden;
	overflow-x:hidden
  background-image:url(images/bg_1.jpg);*/
	background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    margin: 20px;
    height: calc(100vh - 40px);
    position: fixed;
    width: calc(100% - 40px);
}
canvas {
    position: absolute;
    top: -20px;
    z-index: -1;
    left: -20px;
    background:transparent;
}
p{
	margin:0;
}
img{
	display: inherit;
}

.bg-dark-transparent-score{
  background-color:rgba(0, 0, 0, 0.6);
  border-radius:4.3px;
}
.bg-dark-transparent-timer{
  background-color:rgba(0, 0, 0, 0.74);
  border-radius:4.3px;
}
.bg-dark-transparent{
	background-color:rgba(0, 0, 0, 1);
	border-radius:4.3px;
}
.head {
    margin-bottom: 10%;
}
.head .coin{
	 padding: 5px;
   width: auto;
}
.head .back-arrow{
	width: 48%;
}
.head .coin img{
	width: 28px;
	margin-right: 2px;
}
.head .coin span{
	color:#fff;
	font-size:140%;
	font-family: 'Conv_SF-Pro-Text-Bold';
}

.time .time-min,
.time .time-sec{
	padding: 7px 12px;
	border-radius:12.4px;
}
.time .time-min{
	margin-right:10px;
}
.time .time-min span,
.time .time-sec span{
	color:#fff;
	font-size: 260%;
	font-family: 'Conv_SF-Pro-Text-Bold';
}
.time .time-min span.label,
.time .time-sec span.label{
	color:#fff;
	font-size:187%;
	font-family:'Conv_SF-Pro-Display-Semibold';
	line-height: 44px;
}
.pogress-logo{
	/* padding:19% 0 14%; */
	height: calc(100vh - 301px);
}
.pogress-bar {
	border: 3px solid #fff!important;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background-color:rgba(255, 255, 255, 0.2);
    width: 72%;
    position: absolute;
    left: -31%;
    border-radius: 5px;
}
.pogress-value{
	/*background-color: rgba(256, 169, 30, 1);*/
   background: linear-gradient(180deg,#FFF116 0%,#FFA91E 100%);
}
.cick-logo img{
	width:100%;
}

.starbuck-title {
  background-color: #fff;
  border-radius: 5px;
  padding: 3px 7px;
  width: 165px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  font-family: 'Conv_SF-Pro-Text-Bold';
  }
.starbuck-title p{
	color: #000;
    font-size: 100%;
    font-family: 'Conv_SF-Pro-Text-Semibold';
    text-align: center;
}

.info{
	margin: 5%;
}
.info p{
	color: #fff;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
    font-family: 'Satisfy', cursive;
}

/* Footer */
.footer .help img,
.footer .cart img{
	width:50px;
}
.footer .cart{
	/* position:relative; */
	z-index:100;
}
.footer .cart span.cart-value{
	background-color: rgba(255 193 0);
    border: 2px solid #fff;
    color: #fff;
    font-family: 'Conv_SF-Pro-Display-Semibold';
    font-size: 15px;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
    top: 0;
    right: 0;
}
.item-list .fish
  {
    position: relative;
    top: 0px;
    left: 3px;
  }

}
.help{
	position:relative;
	z-index:100;
	display: table-footer-group;
}
.help-popup {
    display: none;
    background-color: #fff;
    border-radius: 5px 5px 0px 5px;
    padding: 10px;
    position: absolute;
    bottom: 70px;
    left: -10px;
    width: 100%;
    z-index: 100;
}
.help-popup:before {
	content: '';
    background-image: url(images/cover-arrow-right.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 32px;
    height: 30px;
    position: absolute;
    bottom: -29px;
    right: 0;
    background-position: 0%;
}
.popup-head span{
	  color: #000;
    font-family: 'Conv_SF-Pro-Text-Bold';
    font-size: 20px;
}
.popup-head span.percent{
	background-color: #ffc100;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    padding: 3px 6px;
}
.popup-head .close{
	background-color: #f2f2f2;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-head .close img{
	width: 10px;
}

.cart-popup {
/* 	display: none; */
    background-color: #fff;
    border-radius: 0;
    padding: 10px;
    position: absolute;
    bottom: -290px;
    left: -20px;
    width: calc(100% + 20px);
    z-index: 1;
	transition: all 0.5s ease;
}
/* .cart-popup:before {
	content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #fff;
    position: absolute;
    bottom: -15px;
    right: 20px;
} */

.list-coin {
	padding: 0;
}
/*.list-coin .list-index{
	  background-color: rgba(255 193 0);
    border: 2px solid #fff;
    color: #fff;
    font-family: 'Conv_SF-Pro-Display-Semibold';
    font-size: 15px;
    width: auto;
    height: 25px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    text-align: center;
    display: flex;
}*/
.list-coin li {
	list-style: none;
    display: flex;
    margin-bottom: 15px;

}
.list-coin li .list-cont{
	color: #000;
    font-family: 'Conv_SF-Pro-Display-Semibold';
    font-size: 15px;
    display: inline-block;
	  width: 100%;
}
.list-coin li .list-cont p {
    margin-left: 2px;
}
.coin-points{
	margin-top:5px;
}
.coin-points img{
	width:25px !important;
	height:25px;
	margin-right:10px;
}
.coin-points span{
	color: #000;
    font-family: 'Conv_SF-Pro-Display-Semibold';
    font-size: 20px;
}
.item-list{
	padding:0;
}

.item-list li{
	list-style: none;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px;
    padding-bottom: 10px;
	text-decoration:none;
}
.item-list li:last-child{
	border:none;
	padding-bottom:0;
	margin-bottom:0;
}
.item-list .item-img{
	margin-right:10px;
  position: relative;
}
.item-list .item-img{
	width:55px;

}
.item-list .item-img img{
	border: 3px solid #ffc100;
    border-radius: 50%;
	height: 50px;
}
.item-list .item-img img.check_nark {
	position: absolute;
    width: 25px !important;
    border-radius: 0 !important;
    border: none !important;
    right: -5px;
    top: -5px;
	height: auto;
}

.item-cont-wrap{
    color: #000;
    font-family: 'Conv_SF-Pro-Display-Semibold';
    font-size: 15px;
    width:100%;
}
.modal {
	display:none;
	background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	text-align:center;
	z-index:1;
}
.modal span.title{
	color: #000;
    font-family: 'Conv_SF-Pro-Display-Semibold';
    font-size: 20px;
	margin-bottom:20px;
	display: block;
}
.modal .item-img img{
	width: 90px;
    margin: 0 auto;
	border: 4px solid #ffc100;
    border-radius: 100px;
	margin-bottom:10px;
}
.modal span.item-title{
	color: #000;
    font-family: 'Conv_SF-Pro-Display-Semibold';
    font-size: 20px;
    margin-bottom: 7px;
    display: block;
}
.modal p{
	color: #000;
    font-family: 'Conv_SF-Pro-Display-Semibold';
    font-size: 15px;
	margin-bottom:25px;
}
.modal .coin-points{
	margin-bottom:20px;
}
.modal button{
	width: 100%;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(180deg,#ff8354 0%,#ef5543 100%);
    color: #fff;
    font-family: 'Conv_SF-Pro-Display-Semibold';
    font-size: 18px;
    border: none;
    box-shadow: 0px 2px 6px -2px #000;
}
.bottom-sec{
    position: absolute;
    width: 100%;
    bottom: -12px;
}
/*body.overlay:after {
	background-color: rgba(0, 0, 0, 0.47);
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
}*/
.help-scroll {
	width: 98%;
    max-height: 335px;
    max-width: 100%;
}
.cart-scroll {
	width: 98%;
    max-height: 235px;
    max-width: 100%;
}

.close-overlay {
	 background-color:; 
   content: '';
   position: absolute;
   top: -20px;
   left: -20px;
   width: calc(100% + 40px);
   height: calc(100% + 40px);
	 display:none;
}
.demo-overlay {
	background-color: rgba(0, 0, 0, 0.67);
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    display: none;
	  z-index:-1;
}

.pyro > .before {
  position: absolute;
  left:0;
  right:0;
  margin:auto;
  top:0;
  bottom:0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;

  animation: 1s bang ease-out, 1s gravity ease-in , 0s position linear ; }


@-webkit-keyframes bang {
  from {
	box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }

@-webkit-keyframes gravity {
  to {
	transform: translateY(200px);
	-moz-transform: translateY(200px);
	-webkit-transform: translateY(200px);
	-o-transform: translateY(200px);
	-ms-transform: translateY(200px);
	opacity: 0; } }

@-webkit-keyframes position {
  50% {
	margin-top: -50%;
	margin-left: 50%; }}


.coupon_wrap {
    border: 2px dashed #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
    width: 120px;
    border-radius: 10px;
    height: 120px;
    padding: 15px;
}
div#markercontainer a {
	display: flex;
    align-items: center;
    justify-content: center;
}

.cick-logo {
	position:relative;
}
#markerId .coupon_img {
    background: rgba(255, 255, 255, 0.49);
    border-radius: 10px;
    padding: 7px;
}
img.clicked.img {
width: 80px;
margin: 0 auto;
left: 0;
right: -115px;
position: absolute;
animation: crescendo 0.2s alternate infinite ease-in;
bottom: -5px;
}
img.Cover.Arrow {
  width: 20%;
  position: absolute;
  right: -44px;
  bottom: -105px;
  }
@keyframes crescendo {
  0%   {transform: scale(.8);}
  100% {transform: scale(1);}
}